[submodule "apps/web/public/charting_library"]
	path = apps/web/public/charting_library
	url = git@github.com:brianyang/charting_library.git
[submodule "apps/web-b/public/charting_library"]
	path = apps/web-b/public/charting_library
	url = git@github.com:brianyang/charting_library.git
[submodule "apps/web-a/public/charting_library"]
	path = apps/web-a/public/charting_library
	url = git@github.com:brianyang/charting_library.git
